<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="PATH_ASPOSE_LIC" value="..\\..\\Resources\\Libs\\Aspose.Total.lic"/>
	<add key="owin:AutomaticAppStartup" value="false"/>
	<add key="JWT_SECRET_KEY" value="clave-secreta-api"/>
	<add key="JWT_AUDIENCE_TOKEN" value="http://localhost:6820"/>
	<add key="JWT_ISSUER_TOKEN" value="http://localhost:6820"/>
	<add key="JWT_EXPIRE_MINUTES" value="300"/>
	<add key="JWT_WEB_EXPIRE_MINUTES" value="600"/>
	<add key="URL_BARCODE" value="http://live.localpayment.com/barcode/index.html?img="/>
	<add key="LIMIT_PAYOUT_CREATE_API_COUNT" value="1000"/>
	<add key="LIMIT_PAYOUT_UPDATE_API_COUNT" value="1000"/>
	<!--************Automated Report Config Vars*******************-->
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_HOST" value="ftps30.us.cloudlogin.co"/>
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_USERNAME" value="gt_nesistemas.com.ar"/>
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_PASSWORD" value="ftpgt2020"/>
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_UPLOAD_DIR" value="/incoming"/>
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_IS_SFTP" value="false"/>
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_CRON_EXPRESSION" value="0 21 * * 1-5"/>
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_ENTITY_ACCOUNT_ID" value="12"/>
	<add key="PAYONEER_ARG_AUTOMATED_REPORT_FILENAME" value="Payoneer_Statement_ARG_YYYYMMDD.csv"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_HOST" value="ftps30.us.cloudlogin.co"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_USERNAME" value="gt_nesistemas.com.ar"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_PASSWORD" value="ftpgt2020"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_UPLOAD_DIR" value="/incoming"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_IS_SFTP" value="false"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_CRON_EXPRESSION" value="0 21 * * 1-5"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_ENTITY_ACCOUNT_ID" value="16"/>
	<add key="PAYONEER_COL_AUTOMATED_REPORT_FILENAME" value="Payoneer_Statement_COL_YYYYMMDD.csv"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_HOST" value="ftps30.us.cloudlogin.co"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_USERNAME" value="gt_nesistemas.com.ar"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_PASSWORD" value="ftpgt2020"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_UPLOAD_DIR" value="/incoming"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_IS_SFTP" value="false"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_CRON_EXPRESSION" value="0 21 * * 1-5"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_ENTITY_ACCOUNT_ID" value="210"/>
	<add key="PAYONEER_BRA_AUTOMATED_REPORT_FILENAME" value="Payoneer_Statement_BRA_YYYYMMDD.csv"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_HOST" value="ftps30.us.cloudlogin.co"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_USERNAME" value="gt_nesistemas.com.ar"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_PASSWORD" value="ftpgt2020"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_UPLOAD_DIR" value="/incoming"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_IS_SFTP" value="false"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_CRON_EXPRESSION" value="0 21 * * 1-5"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_ENTITY_ACCOUNT_ID" value="211"/>
	<add key="PAYONEER_MEX_AUTOMATED_REPORT_FILENAME" value="Payoneer_Statement_MEX_YYYYMMDD.csv"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_HOST" value="ftps30.us.cloudlogin.co"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_USERNAME" value="gt_nesistemas.com.ar"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_PASSWORD" value="ftpgt2020"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_UPLOAD_DIR" value="/incoming"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_IS_SFTP" value="false"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_CRON_EXPRESSION" value="0 21 * * 1-5"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_ENTITY_ACCOUNT_ID" value="211"/>
	<add key="PAYONEER_URY_AUTOMATED_REPORT_FILENAME" value="Payoneer_Statement_URY_YYYYMMDD.csv"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_HOST" value="ftps30.us.cloudlogin.co"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_USERNAME" value="gt_nesistemas.com.ar"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_PASSWORD" value="ftpgt2020"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_UPLOAD_DIR" value="/incoming"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_IS_SFTP" value="false"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_CRON_EXPRESSION" value="0 21 * * 1-5"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_ENTITY_ACCOUNT_ID" value="211"/>
	<add key="PAYONEER_CHL_AUTOMATED_REPORT_FILENAME" value="Payoneer_Statement_CHL_YYYYMMDD.csv"/>
	<!--************/Automated Report Config Vars******************-->
	<!--************Callback Config Vars******************-->
	<add key="CALLBACK_LIMIT_REQUEST_ITEMS" value="200"/>
	<!--************/Callback Config Vars******************-->
	<!--************ Payoneer Push Notifications Config ***********-->
	<add key="PAYONEER_NOTIFICATION_ARG_ENTITY_ID" value="12"/>
	<add key="PAYONEER_NOTIFICATION_COL_ENTITY_ID" value="16"/>
	<add key="PAYONEER_NOTIFICATION_COL_CUSTOMER" value="000001500001"/>
	<add key="PAYONEER_NOTIFICATION_ARG_CUSTOMER" value="000001500001"/>
	<add key="PAYONEER_NOTIFICATION_MEX_ENTITY_ID" value="??"/>
	<add key="PAYONEER_NOTIFICATION_MEX_CUSTOMER" value="000001500001"/>
	<add key="PAYONEER_NOTIFICATION_BRA_ENTITY_ID" value="??"/>
	<add key="PAYONEER_NOTIFICATION_BRA_CUSTOMER" value="000001500001"/>
	<add key="PAYONEER_NOTIFICATION_URY_ENTITY_ID" value="??"/>
	<add key="PAYONEER_NOTIFICATION_URY_CUSTOMER" value="000001500001"/>
	<add key="PAYONEER_NOTIFICATION_CHL_ENTITY_ID" value="??"/>
	<add key="PAYONEER_NOTIFICATION_CHL_CUSTOMER" value="000001500001"/>
	<add key="PAYONEER_NOTIFICATION_URL" value="https://callbackapi.sandbox.payoneer.com/api/Callbacks/v1/Notify/"/>
	<add key="PAYONEER_NOTIFICATION_API_KEY" value="yQGVpfhgUicsGTYM3eyQ"/>
	<add key="PAYONEER_NOTIFICATION_EVENTSUBTYPE" value="-1"/>
	<add key="PAYONEER_HANDLER_NAME" value="LocalPayment"/>
	<add key="PAYONEER_PAYMENT_EVENT" value="PaymentEvent"/>
	<!--************ /Payoneer Push Notifications Config **********-->
	<!--************ NIUM Push Notifications Config ***********-->
	<add key="NIUM_NOTIFICATION_ARG_ENTITY_ID" value="290"/>
	<add key="NIUM_NOTIFICATION_ARG_CUSTOMER" value="000005000001"/>
	<add key="NIUM_NOTIFICATION_COL_ENTITY_ID" value="291"/>
	<add key="NIUM_NOTIFICATION_COL_CUSTOMER" value="000005000001"/>
	<add key="NIUM_NOTIFICATION_MEX_ENTITY_ID" value="293"/>
	<add key="NIUM_NOTIFICATION_MEX_CUSTOMER" value="000005000001"/>
	<add key="NIUM_NOTIFICATION_BRA_ENTITY_ID" value="292"/>
	<add key="NIUM_NOTIFICATION_BRA_CUSTOMER" value="000005000001"/>
	<add key="NIUM_NOTIFICATION_URY_ENTITY_ID" value="??"/>
	<add key="NIUM_NOTIFICATION_URY_CUSTOMER" value="000005000001"/>
	<add key="NIUM_NOTIFICATION_CHL_ENTITY_ID" value="??"/>
	<add key="NIUM_NOTIFICATION_CHL_CUSTOMER" value="000005000001"/>
	<add key="NIUM_NOTIFICATION_URL" value="https://integrationspreprod.partners.instarem.com/preprod/localpayment/transactionStatus"/>
	<add key="NIUM_NOTIFICATION_API_KEY" value="4TdnNW2xPT8VpaRj3lops1AWx9u1pQPp5QkWr3Ur"/>
	<!--************ /NIUM Push Notifications Config **********-->
	<!--************ ARF Push Notifications Config ***********-->
	<add key="ARF_NOTIFICATION_CUSTOMER" value="000035000001"/>
	<add key="ARF_NOTIFICATION_ARG_ENTITY_ID" value="??"/>
	<add key="ARF_NOTIFICATION_COL_ENTITY_ID" value="??"/>
	<add key="ARF_NOTIFICATION_MEX_ENTITY_ID" value="??"/>
	<add key="ARF_NOTIFICATION_BRA_ENTITY_ID" value="??"/>
	<add key="ARF_NOTIFICATION_URY_ENTITY_ID" value="??"/>
	<add key="ARF_NOTIFICATION_CHL_ENTITY_ID" value="??"/>
	<add key="ARF_NOTIFICATION_URL" value="http://arf-institution-api-dev.arf.one/api/v1/institutions/localpayment/webhooks/transactions"/>
	<!--************ /ARF Push Notifications Config **********-->
	<!--************ REMITEE Push Notifications Config ***********-->
	<add key="REMITEE_NOTIFICATION_CUSTOMER" value="000006000001"/>
	<add key="REMITEE_NOTIFICATION_ARG_ENTITY_ID" value="??"/>
	<add key="REMITEE_NOTIFICATION_COL_ENTITY_ID" value="??"/>
	<add key="REMITEE_NOTIFICATION_MEX_ENTITY_ID" value="??"/>
	<add key="REMITEE_NOTIFICATION_BRA_ENTITY_ID" value="??"/>
	<add key="REMITEE_NOTIFICATION_URY_ENTITY_ID" value="??"/>
	<add key="REMITEE_NOTIFICATION_CHL_ENTITY_ID" value="??"/>
	<add key="REMITEE_NOTIFICATION_URL" value="http://remitee-integrations-localpayment-test.azurewebsites.net/api/webhook/complete"/>
	<!--************ /REMITEE Push Notifications Config **********-->
	<!--************ THUNES Push Notifications Config ***********-->
	<add key="THUNES_NOTIFICATION_CUSTOMER" value="000006000001"/>
	<add key="THUNES_NOTIFICATION_ARG_ENTITY_ID" value="??"/>
	<add key="THUNES_NOTIFICATION_COL_ENTITY_ID" value="??"/>
	<add key="THUNES_NOTIFICATION_MEX_ENTITY_ID" value="??"/>
	<add key="THUNES_NOTIFICATION_BRA_ENTITY_ID" value="??"/>
	<add key="THUNES_NOTIFICATION_URY_ENTITY_ID" value="??"/>
	<add key="THUNES_NOTIFICATION_CHL_ENTITY_ID" value="??"/>
	<add key="THUNES_NOTIFICATION_URL_ARG" value="https://callback-mt.pre.thunes.com/localpayment/argentina"/>
	<add key="THUNES_NOTIFICATION_URL_COL" value="https://callback-mt.pre.thunes.com/localpayment/colombia"/>
	<add key="THUNES_NOTIFICATION_URL_MEX" value="https://callback-mt.pre.thunes.com/localpayment/mexico"/>
	<add key="THUNES_NOTIFICATION_URL_BRA" value="https://callback-mt.pre.thunes.com/localpayment/brazil"/>
	<add key="THUNES_NOTIFICATION_URL_URY" value="https://callback-mt.pre.thunes.com/localpayment/uruguay"/>
	<add key="THUNES_NOTIFICATION_URL_CHL" value="https://callback-mt.pre.thunes.com/localpayment/chile"/>
	<!--************ /THUNES Push Notifications Config **********-->
	<!--************ INSWITCH Push Notifications Config ***********-->
	<add key="INSWITCH_NOTIFICATION_CUSTOMER" value="000006000001"/>
	<add key="INSWITCH_NOTIFICATION_ARG_ENTITY_ID" value="??"/>
	<add key="INSWITCH_NOTIFICATION_COL_ENTITY_ID" value="??"/>
	<add key="INSWITCH_NOTIFICATION_MEX_ENTITY_ID" value="??"/>
	<add key="INSWITCH_NOTIFICATION_BRA_ENTITY_ID" value="??"/>
	<add key="INSWITCH_NOTIFICATION_URY_ENTITY_ID" value="??"/>
	<add key="INSWITCH_NOTIFICATION_CHL_ENTITY_ID" value="??"/>
	<add key="INSWITCH_NOTIFICATION_URL" value="https://connectgw-sbx.apps.ins.inswhub.com/partnergw/v1/localpayment/notification"/>
	<!--************ /INSWITCH Push Notifications Config **********-->
	<!--************ EFX Push Notifications Config ***********-->
	<add key="EFX_NOTIFICATION_CUSTOMER" value="000006000001"/>
	<add key="EFX_NOTIFICATION_ARG_ENTITY_ID" value="??"/>
	<add key="EFX_NOTIFICATION_COL_ENTITY_ID" value="??"/>
	<add key="EFX_NOTIFICATION_MEX_ENTITY_ID" value="??"/>
	<add key="EFX_NOTIFICATION_BRA_ENTITY_ID" value="??"/>
	<add key="EFX_NOTIFICATION_URY_ENTITY_ID" value="??"/>
	<add key="EFX_NOTIFICATION_CHL_ENTITY_ID" value="??"/>
	<add key="EFX_NOTIFICATION_URL" value="http://development.exchange4free.com:8100/v4/LocalPaymentNotification"/>
	<!--************ /EFX Push Notifications Config **********-->
	<!--************ NIUM Automated reports Config ***********-->
	<add key="NIUM_AUTOMATED_REPORT_HOST" value="172.31.20.125"/>
	<add key="NIUM_AUTOMATED_REPORT_USERNAME" value="nium_lp"/>
	<add key="NIUM_AUTOMATED_REPORT_PASSWORD" value="Shu9Ooshaimee0oosa8aicauthuDuzoo"/>
	<add key="NIUM_AUTOMATED_REPORT_UPLOAD_DIR" value="/nium"/>
	<add key="NIUM_AUTOMATED_REPORT_IS_SFTP" value="true"/>
	<add key="NIUM_AUTOMATED_REPORT_CRON_EXPRESSION" value="0 0 * * *"/>
	<add key="NIUM_AUTOMATED_REPORT_COUNTRY_ENTITIES" value="{'COL': 221, 'ARG': 220, 'BRA': 222, 'MEX': 223}"/>
	<!--************ /NIUM Automated reports Config **********-->
	<!--************Automated Email Config Vars*******************-->
	<add key="AUTOMATED_EMAIL_GENERAL_BALANCE_CRON_EXPRESSION" value="0 0 13 ? * *"/>
	<add key="AUTOMATED_EMAIL_GENERAL_BALANCE_SUBJECT" value="{0} balance at {1}"/>
	<add key="AUTOMATED_EMAIL_TRANSACTION_LOT_CRON_EXPRESSION" value="0 0 13 ? * *"/>
	<add key="AUTOMATED_EMAIL_TRANSACTION_LOT_SUBJECT" value="PAYOUTS - API - {0} - {1}-{2} - {3} - {4}"/>
	<add key="AUTOMATED_EMAIL_AML_CRON_EXPRESSION" value="0 0 13 ? * *"/>
	<add key="AUTOMATED_EMAIL_AML_SUBJECT" value="AML Report"/>
	<add key="AUTOMATED_EMAIL_MANUAL_TRANSACTION_LOT_SUBJECT" value="PAYOUTS - MANUAL UPLOAD - {0} - {1} - {2} - {3}"/>
	<add key="AUTOMATED_EMAIL_ADMIN_EMAIL" value="ezequiel@localpayment.com;alejandro@localpayment.com"/>
	<add key="AUTOMATED_EMAIL_AML_EMAIL" value="ezequiel@localpayment.com"/>
	<!--************/Automated Email Config Vars******************-->
	<!--************Automated AFIP/ARBA Process *******************-->
	<add key="AFIP_UPDATE_JOB_ZIP_IMPORT_FOLDER" value="C:/AFIP_IMPORT_FOLDER"/>
	<add key="AFIP_UPDATE_JOB_HF_NAME" value="afip_update_registered_entities"/>
	<add key="AFIP_UPDATE_JOB_DOWNLOAD_URL" value="http://www.afip.gob.ar/genericos/cInscripcion/archivos/apellidoNombreDenominacion.zip"/>
	<add key="AFIP_UPDATE_JOB_CRON_EXPRESSION" value="0 23 * * 6"/>
	<add key="ARBA_UPDATE_JOB_ZIP_IMPORT_FOLDER" value="C:/ARBA_IMPORT_FOLDER"/>
	<add key="ARBA_UPDATE_JOB_HF_NAME" value="arba_update_registered_entities"/>
	<add key="ARBA_UPDATE_JOB_LOGIN_URL" value="https://www.arba.gov.ar/Aplicaciones/DomicilioElectronico.asp"/>
	<add key="ARBA_UPDATE_JOB_LOGIN_CUIT" value="30-71613202-8"/>
	<add key="ARBA_UPDATE_JOB_LOGIN_PASSWORD" value="Libertad20"/>
	<add key="ARBA_UPDATE_JOB_CRON_EXPRESSION" value="00 23 28 * *"/>
	<!-- At 23:00 on day-of-month 28. -->
	<!--***********/Automated AFIP/ARBA Process *******************-->
	<!--********Bco Supervielle File gen, encrypt and upload*****-->
	<add key="BSPVIELLE_FILE_GEN_FOLDER" value="C:/BSPVIELLE_FILES"/>
	<add key="BSPVIELLE_SFTP_HOST" value="sftp.supervielle.com.ar"/>
	<add key="BSPVIELLE_SFTP_PORT" value="1114"/>
	<add key="BSPVIELLE_SFTP_USER" value="LPayment_ext"/>
	<add key="BSPVIELLE_SFTP_PASSWORD" value="ijdSjas.298ASPoi"/>
	<!--***********/Bco Supervielle File gen ******************-->
	<!--*********** Automated PAYIN  Process *******************-->
	<add key="PAYIN_JOB_SET_EXPIRATION_CRON_EXPRESSION" value="45 15 * * *"/>
	<add key="PAYIN_EXPIRE_EQUALS_OR_AFTER_DAYS" value="5"/>
	<!--*********** /Automated PAYIN  Process *******************-->
	<!--***********Automated Cleaning Process *******************-->
	<add key="AUTOMATED_CLEANING_CURRENCY_EXCHANGE_CRON_EXPRESSION" value="*/5 * * * *"/>
	<!--***********/Automated Cleaning Process ******************-->
	<!--*********** OnHold Reject *******************-->
	<add key="ONHOLD_JOB_SET_EXPIRATION_CRON_EXPRESSION" value="35 12 * * *"/>
	<add key="ONHOLD_EXPIRE_EQUALS_OR_AFTER_DAYS" value="7"/>
	<!--***********/ OnHold Reject ******************-->
	<!--*********** LOCALPAYMENT Automated Report Config *******************-->
	<add key="LP_CUSTOMERS_ACCOUNT_BALANCE_AUTOMATED_REPORT_CRON_EXPRESSION" value="*/5 * * * *"/>
	<!--<add key="LP_CUSTOMERS_ACCOUNT_BALANCE_AUTOMATED_REPORT_CRON_EXPRESSION" value="00 00 03 L * *" />-->
	<add key="LP_CUSTOMERS_ACCOUNT_BALANCE_AUTOMATED_REPORT_FILE_GEN_FOLDER" value="C:/LP_Reports/"/>
	<add key="LP_CUSTOMERS_ACCOUNT_BALANCE_AUTOMATED_REPORT_SEND_TO" value="ezequiel@localpayment.com"/>
	<!--*********** /LOCALPAYMENT Automated Report Config *******************-->
	<!--************************Email******************************-->
	<add key="EnvioEmails" value="false"/>
	<add key="SupportEmails" value="support@localpayment.com;brian@localpayment.com;manuel@localpayment.com"/>
	<add key="AdminEmail" value=""/>
	<add key="EmailCredentialUserApiKey" value="support@localpayment.com"/>
	<add key="EmailCredentialPassApiKey" value="car5R]^%yd#yex7#["/>
	<add key="UserNameEmail" value="support@localpayment.com"/>
	<add key="EmailPort" value="587"/>
	<add key="SMTPServer" value="smtp.gmail.com"/>
	<add key="Enviroment" value="Local"/>
	<!--************************/Email******************************-->
	<add key="Deadlock_MaxRetriesCount" value="5"/>
	<add key="Deadlock_DelayForRetryInMS" value="500"/>
	<add key="NOTIFICATION_PUSH_RETRY_CRON_EXPRESSION" value="05 17 * * *"/>
	<add key="TokenCacheExpiration" value="25"/>
	<add key="HealthCheck_Code" value="Nu0faimae3ca8Aik"/>
	<add key="HealthCheck_DB_TimeOut" value="5"/>
</appSettings>