<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
		<!--<add name="connDbLocalPayment" connectionString="Data Source=lpdbprod-20221021.c14ytsjvnwpp.us-east-1.rds.amazonaws.com,1433;Initial Catalog=LocalPaymentPROD;Persist Security Info=True;User ID=aassis;Password=wwTMZNqg.dj49N-imxMku5ycNmnbzBPk; Max Pool Size=200;" providerName="System.Data.SqlClient"/>-->
	<add name="connDbLocalPayment" connectionString="Data Source=lpv2-non-prod.c14ytsjvnwpp.us-east-1.rds.amazonaws.com,1433;Initial Catalog=prod-20221226;Persist Security Info=True;User ID=mcarpio;Password=V1nA0hxhSZ0ddy55tD$syb02yfe!31Za; Max Pool Size=200;" providerName="System.Data.SqlClient"/>
		<!--<add name="connDbLocalPayment" connectionString="Data Source=lpv2-non-prod.c14ytsjvnwpp.us-east-1.rds.amazonaws.com,1433;Initial Catalog=lpv2-integration-qa;Persist Security Info=True;User ID=LpAdminIntegrations;Password=y2kuD#tNd; Max Pool Size=200;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings configSource="ExternalAppSettings.config" />
	<system.web>
		<compilation targetFramework="4.7.2" debug="true"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="ApiDefaultDocument.html" />
			</files>
		</defaultDocument>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>
		<handlers>
			<remove name="WebDAV"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>
<!--ProjectGuid: 137DABB7-6884-44F4-9382-1195F78D3494-->
