<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header  modalSizeHeader modal-header-Lp ">
    <h5 class="modal-title h5Modal">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
<p>{{message}}</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn blueBtnLp" (click)="bsModalRef.hide()" style="color:white;">Ok</button>
  </div>
</div>